

/*img{
    width: 100%;
    height: 100%;
    
}*/
.cycle-slideshow{
    max-width: 960px;
    max-height: 400px;
    width: 100%;
    border: 2px solid #f39200;
    display: block;
    position: relative;
    margin:0 auto;
    
}
